/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
  height:100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

main {
  flex: 1;
  display: flex;
}

.content-wrap {
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.padB40 {
  padding-bottom: 40px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  border: 0;
}